@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Roboto", sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    background-color: rgb(156, 181, 202);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 50px;
    margin: 50px 0px;
}


.app{
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding:30px 30px;
    border-radius: 20px;
}

.converter{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}

select{
    height: 30px;
    padding-left: 10px;
    appearance: none;
    border: 1px solid rgb(65, 53, 53);
    border-radius: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}


.input{
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgb(65, 53, 53);
    margin-bottom: 10px;
    padding-left: 10px;
}


button{
    background-color: rgb(87, 8, 162);
    height: 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.local-convertido{
    width: 400px;
    background-color: white;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bandeiras{
    width: 20px;
    margin-top: 10px;
}

.vector{
    width: 25px;
    margin: 10px 0;
}

.moedas{
    font-size: 25px;
}

.resultconvertido{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.a-converter{
    font-size: 20px;
    font-weight: bold;
}


@media(max-width:540px){
    h1{
        font-size: 30px;
    }

    .app{
        width: 300px;
        padding: 0 30px;
    }
    .local-convertido{
        width: 300px;
    }
}

@media(max-height:600px){
    .app{
       padding: 10px;
    }
    h1{
        margin: 10px;
    }
}